server {
  listen 127.0.0.1:80 default_server;
  listen [::1]:80 default_server;

  resolver 1.1.1.1;

  proxy_buffering        on;
  proxy_cache            DEFAULT_ZONE;
  proxy_cache_revalidate on;
  proxy_cache_use_stale  error timeout invalid_header updating;

  # make sure requests to origin server are not compressed
  # so sub_filter will work
  proxy_set_header Accept-Encoding "";

  # making sure only the onion service adresses are allowed
  proxy_hide_header Content-Security-Policy;
  add_header Content-Security-Policy "{{ content_security_policy }}";

  # we're not doing https so we don't need this header
  proxy_hide_header Strict-Transport-Security;

  sub_filter_types text/xml text/css;
  sub_filter_once off;

  location / {
    proxy_pass {{ origin_server }};

    sub_filter "http://f-droid.org" "http://{{ onion_address }}";
    sub_filter "https://f-droid.org" "http://{{ onion_address }}";
    sub_filter "https://search.f-droid.org" "http://{{ onion_address }}/search";
  }

  location ~ ^/search(?<req_str>.*) {
    proxy_pass https://search.f-droid.org$req_str$is_args$args;

    sub_filter "http://f-droid.org" "http://{{ onion_address }}";
    sub_filter "https://f-droid.org" "http://{{ onion_address }}";
    sub_filter "https://fdroid.tetaneutral.net/fdroid/repo/" "http://{{ onion_address }}/repo/";
    sub_filter "https://ftp.fau.de/fdroid/repo/" "http://{{ onion_address }}/repo/";

    sub_filter "/static/" "/search/static/";
  }
}
