server {
  listen 80 default_server;
  listen [::]:80 default_server;

  location ~ ^/.well-known/acme-challenge/ {
    proxy_pass {{ certmachine_web }};
  }

  location / {
    return 301 https://{{ cdn_domains[0] }}$request_uri;
  }

}
